#list{
    position: absolute;
    right: 0;
    top:0;
    width: 20rem;
    height: 100%;   
    background-color: aqua;
}

#switch{
    width: 25rem;
    height: 5rem;
    position: relative;
    top: 0;
    left: -50%;
    background-color: aqua;
}

#main{
    width: 65rem;
    height: 38rem;
    position: relative;
    top: 10rem;
    left: -50%;
    background-color: aqua;
}
