<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://bootswatch.com/4/superhero/bootstrap.css" rel="stylesheet" id="bootstrap-css3">
    <link rel="stylesheet" title="default" href="/static/main.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <script src="/static/coms.js"></script>
    <script src="/static/render.js"></script>
    <script src="/static/main.js"></script>
</head>

<body>

    <div style="position: fixed; left: 50%; z-index: 9999;">
        <div class="navbar navbar-expand-lg navbar-dark bg-dark" id="switch">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">        
                    <button type="button" class="btn btn-primary navButton active" id="option1" onclick="focusNav('#option1'); renderIdentify()"> Identify            
                    <button type="button" class="btn  navButton" id="option2" onclick="focusNav('#option2'); renderValidate()"> Verify             
                    <button type="button" class="btn  navButton" id="option3" onclick="focusNav('#option3'); renderEnrole()"> Enrole          
                    <button type="button" class="btn  navButton" id="option4" onclick="focusNav('#option4'); renderChange()"> Change
            </div>
        </div>
    </div>
    <div style="position: fixed; left: 50%;">
        <div class="container bg-dark" id="main">
            <div class="middle card" id="middle-left">


            </div>
            <div class="middle card" id="middle-right">


            </div>
            
        </div>
    </div>
    <div class="container bg-dark" id="list">
        

    </div>

    <script>loadData();</script>
</body>

</html>